<!-- {{!-- <h1 id="pagetitle">{{title}}</h1>

<div>
	<a href="/">Weather</a>
	<a href="/about">About</a>
	<a href="/help">Help</a>

</div> --}} -->

<div class="navbar" style="border-bottom: 3px rgba(100,100,100,.5) solid;">
	<!-- <div class="nav-brand">
		<a class="navbar-item navbar-start" href="">
		    <img src="img/generic-weather-logo.png">
		</a>
		<a href="" class="navbar-item">HOME</a>
		<a href="" class="navbar-item">ABOUT</a>
	</div> -->

	<div class="container is-shadowed">
		<div class="navbar-brand">
			<a class="navbar-item navbar-start" href="">
		    	THIS IS A BUTTON, innit?
			</a>
			<span class="navbar-burger burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navMenu" class="navbar-menu">
			<a href="" class="navbar-end">
				<a href="#" class="navbar-item is-active">Home</a>
				<a href="#" class="navbar-item">About project</a>
				<a href="#" class="navbar-item">About the developer</a>
			</a>
			
		</div>
	</div>

</div>

<script>
	const burger = document.querySelector(".burger");
	const nav = document.querySelector('')
</script>


<!-- https://www.youtube.com/watch?v=I6nuWeylMYM -->