<!-- header -->

<nav class="navigation">
	<a href="./">
		<div class="navigation link">Weather App</div>
	</a>
	<a href="./projectinfo">
		<div class="navigation link">the project</div>
	</a>
	<a href="./aboutdeveloper">
		<div class="navigation link">the developer</div>
	</a>

</nav>

<!-- header -->
